<div class="flex-down center">
  <app-logo />

  <app-box heading="Zaloguj się">
    <div class="flex-down center">
      <p>Przejdź do na swoje konto i zarządzaj znalezionymi ofertami</p>

      <form [formGroup]="loginForm" class="flex-down center">
        <!-- formControlName="login" -->
        <app-input
          name="username"
          label="Login"
        />
        <!-- formControlName="password" -->
        <app-input
          type="password"
          name="password"
          label="Hasło"
        />
      </form>

      <div class="flex-right">
        <app-button label="Zaloguj" />
      </div>
    </div>
  </app-box>

  <div class="flex-right">
    <app-button label="Utwórz konto" (click)="router.navigate(['register'])" />
    <app-button label="Wróć" (click)="router.navigate(['/'])" />
  </div>
</div>
