<div class="flex-down center">
  <app-logo />

  <app-box heading="Zaloguj się">
    <div class="flex-down center">
      <p>Przejdź na swoje konto i zarządzaj znalezionymi ofertami</p>

      <form
        class="flex-down center"
        [formGroup]="loginForm"
      >
        <app-input
          name="username"
          label="Login"
          formControlName="login"
        />
        <app-input
          type="password"
          name="password"
          label="Hasło"
          formControlName="password"
        />

        <div class="flex-right">
          <app-button label="Zaloguj" (click)="onSubmit()" />
        </div>

        <span class="danger">{{ errors }}</span>
      </form>
    </div>
  </app-box>

  <div class="flex-right">
    <app-button label="Utwórz konto" (click)="router.navigate(['register'])" />
    <app-button label="Wróć" (click)="router.navigate(['/'])" />
  </div>
</div>
