<div class="flex-down center">
  <app-logo />

  <app-box heading="Utwórz konto">
    @if (!success) {
    <div class="flex-down center">
      <p>Załóż konto i poluj na swoje nowe cztery kąty</p>

      <form
        class="flex-down center"
        [formGroup]="registerForm"
      >
        <app-input
          name="username"
          label="Login"
          formControlName="login"
          />
        <app-input
          type="email"
          name="email"
          label="Email"
          formControlName="email"
          />
        <app-input
          type="password"
          name="password"
          label="Hasło"
          formControlName="password"
        />
        <app-input
          type="password"
          name="password_confirmation"
          label="Powtórz hasło"
          formControlName="password_confirmation"
        />

        <div class="flex-right">
          <app-button label="Utwórz" (click)="onSubmit()" />
        </div>

        <span class="danger">{{ errors }}</span>
      </form>
    </div>
    } @else {
    <div class="success">
      Konto zostało utworzone. Przejdź do logowania.
    </div>
    }
  </app-box>

  <div class="flex-right">
    <app-button label="Wróć do logowania" (click)="router.navigate(['login'])" />
    <app-button label="Wróć" (click)="router.navigate(['/'])" />
  </div>
</div>
