.input-container {

}

input {
  background: none;
  border: 1px solid hsl(var(--gray));
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  padding: 0 calc(var(--gap-size) / 2);
  outline: none;

  &:hover, &:focus {
    border-color: hsl(var(--acc));
  }
}
