/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Tektur:wght@400..900&display=swap'); */

:root {
  --acc-hue: 166;
  --solids-sat: 3%;

  --acc: var(--acc-hue), 87%, 49%;
  --gray: var(--acc-hue), var(--solids-sat), 50%;
  --fg: var(--acc-hue), var(--solids-sat), 95%;
  --bg: var(--acc-hue), var(--solids-sat), 12%;

  --gap-size: 1em;
}

* {

}

body {
  background-color: hsl(var(--bg));
  color: hsl(var(--fg));
  margin: 0;
  min-height: 100vh;
}

/**************** fonts ****************/

* {
  font-family: "Overpass Mono", monospace;
}

h1, h2, h3, h4, .button {
  font-family: "Tektur", sans-serif;
  font-weight: normal;
}

/**************** colors ****************/

a {
  color: inherit;
}

.accent {
  color: hsl(var(--acc));
}

.ghost {
  opacity: 0.5;
}

.danger, .warning, .success, .info {
  --color-parts: 90%, 60%;

  &.danger {
    color: hsl(0, var(--color-parts));
  }
  &.warning {
    color: hsl(50, var(--color-parts));
  }
  &.success {
    color: hsl(100, var(--color-parts));
  }
  &.info {
    color: hsl(200, var(--color-parts));
  }
}

.top-bar {
  background-color: hsl(var(--gray));
  display: block;
  margin: 0;
  padding: 0 1rem;

  &:hover, .box:hover > & {
    background-color: hsl(var(--acc));
  }
}

/**************** interactives ****************/

.clickable {
  user-select: none;
  cursor: pointer;
}

* {
  transition-duration: 0.3s;
}

/**************** flexing ****************/

.flex-right, .flex-down {
  display: flex;
  gap: var(--gap-size);

  & :is(p, h1, h2, h3, h4) {
    margin: 0;
  }

  &.flex-right {
    flex-direction: row;
  }

  &.flex-down {
    flex-direction: column;
  }

  &.tight {
    gap: 0.25em;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}

/**************** flexing ****************/

main {
  justify-content: center;
  align-items: center;
}
